.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.AddFoodForm > form {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AddFoodForm form button{
  width: 100px;
}